{{ `<?xml version="1.0" encoding="UTF-8"?>` }}
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>http://ชื่อดี.com/</loc>
        <priority>1.0</priority>
    </url>
    <url>
        <loc>http://ชื่อดี.com/analysis</loc>
        <priority>0.9</priority>
    </url>
    <url>
        <loc>http://ชื่อดี.com/articles</loc>
        <priority>0.8</priority>
    </url>
    <url>
        <loc>http://ชื่อดี.com/about</loc>
        <priority>0.7</priority>
    </url>
    <url>
        <loc>http://ชื่อดี.com/sitemap</loc>
        <priority>0.7</priority>
    </url>
    {{range .Blogs}}
    <url>
        <loc>http://ชื่อดี.com/articles/{{.Slug}}</loc>
        <lastmod>{{.UpdatedAt.Format "2006-01-02"}}</lastmod>
    </url>
    {{end}}
</urlset>
